body {
    background-color: #ffffff;
    font-size: 12px;
    font-family: Verdana, "Verdana CE", Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
    color: #000000;
    margin: 0 !important;
}

h1 {
    font-family: Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
    border-bottom: 1px solid #AFAFAF;
    font-size: 16px;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
    color: #D20005;
}

.color-pink {
    color: #ff507d;
}

.color-light-grey {
    color: #d5dced;
}

.bg-dark {
    background-color: #242533 !important;
}

.card-header {
    border-bottom: #d5dced solid 1px;
}

.form-group label {
    color: #d1cecb;
}

.form-control:focus {
    background-color: #303243 !important;
}

.form-control {
    color: #ffffff !important;
    background-color: #303243 !important;
}

thead {
    background-color: #409c5c;
}

.nav-link {
    color: #ffffff;
    font-size: 1.5em;
}

.nav-link:hover {
    color: #ff507d;
}

.btn-create{
    width: 50px;
    height: 50px;
    background-color: #409C5C;
    color: white !important;
    font-size: 2em;
    border-radius: 50%;
    align-items: center;
    display: flex;
    justify-content: center;
    position: absolute;
    top: -80px;
    right: 0;
    padding-bottom: 5px;
}


.btn:hover{
    color: white !important;
    text-decoration: none!important;
}
.btn{
    color: white !important;
}
.jsfcrud_list_form{
    color: white !important;
}

a{
    color:#409C5C !important;
}

a:hover{
    color:#ff507d !important;
}

